@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #f7f6f2;
	font-family: 'Poppins', 'Arial', sans-serif;
	padding: 0;
}

.logoImgContact {
	width: 20%;
	height: 50%;
	color: #243d18;
}
.car {
	width: 100%;
}
.client {
	width: 90%;
	height: auto;
	min-width: 15vw;
	border-radius: 20%;
}
@media only screen and (max-width: 576px) {
	.client {
		width: 50%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.client {
		width: 50%;
	}
}
#client1,
#client2,
#client3 {
	display: flex;
	//flex-wrap: wrap;
	justify-content: center;
}
.map-container-3 {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}
.map-container-3 iframe {
	left: 0;
	top: 0;
	height: 80%;
	width: 100%;
	position: absolute;
}

nav {
	// background: linear-gradient(45deg, #ffc107 0%, #f4b700 100%);
	background: #243d18;

	button,
	.btn {
		background: transparent;
		color: white;
		border: 0;
		border-radius: 0;
		box-shadow: none !important;
		font-size: 1.5rem;
		outline: none;
		padding: 0.6rem 1.2rem;

		&:active,
		&:focus,
		&:hover {
			background: transparent;
		}
	}

	.btn.btn-active {
		background-color: #f4b700;
		text-decoration: underline;
	}
}

main {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 2rem 0;
		//margin-top: 2rem 0;
	}

	p {
		margin: 1rem 0;
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			background-color: #847468;
			box-shadow: #00576e 0 2px 8px 2px;
			color: #fff;
			padding: 1rem;

			footer {
				display: flex;
				align-items: center;
				justify-content: flex-end;

				& > * + * {
					margin-left: 1rem;
				}
			}

			button,
			.btn {
				background: transparent;
				border: 1px solid #fff;
				color: #fff;
			}
		}

		li + li {
			margin-top: 2rem;
		}
	}
	.hotelimg,
	.hotelimg1 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
		margin: 1rem 0 1rem 1rem;
		img {
			//margin-bottom: 2px;
			width: 100%;
		}
	}
	.hotelimg1 {
		img {
			margin-bottom: 2rem;
		}
	}

	.room-list,
	.spa-list {
		ul {
			display: flex;
			flex-wrap: wrap;
		}
		li {
			width: 35%;
			margin-top: auto;
			margin-bottom: 20px;
			margin-right: auto;
			margin-left: auto;
		}
	}

	.caption {
		width: 100%;
		color: white;
		position: absolute;
		top: 40%;
		z-index: 1;
	}

	.rowclient {
		display: flex;
		//justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	@media only screen and (max-width: 576px) {
		.room-list,
		.spa-list {
			ul {
				display: flex;
				flex-wrap: wrap;
				padding: 0 0 0 0;
				margin: 0 0 0 0;

				li {
					width: 50%;
					margin-right: 10px;
					margin-left: 20px;
					margin-bottom: 10px;
				}
			}
		}
	}

	@media only screen and (min-width: 577px) and (max-width: 992px) {
		.spa-list,
		.room-list {
			ul {
				display: flex;
				flex-wrap: wrap;
				padding: 0 0 0 0;
				margin: 0 0 0 0;

				li {
					width: 45%;
					margin-right: auto;
					margin-left: auto;
					margin-bottom: 20px;
					margin-top: 10px;
				}
			}
		}
	}

	@media only screen and (min-width: 993px) {
		.spa-list,
		.room-list {
			ul {
				display: flex;
				flex-wrap: wrap;

				li {
					width: calc(100% / 3.2);
					margin-right: auto;
					margin-left: auto;
					margin-bottom: 20px;
					margin-top: 10px;
				}
			}
		}
	}
	article {
		$bg-color-1: #847468;
		$bg-color-2: #847468;

		background: repeating-linear-gradient(
			45deg,
			$bg-color-1,
			$bg-color-1 10px,
			$bg-color-2 10px,
			$bg-color-2 20px
		);
		box-shadow: #00576e 0 2px 8px 2px;
		margin: 2em 1em;
		padding: 1rem;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			background: #847468;
			color: white;
			margin: 0;
			padding: 1rem 0.5rem;
		}
		button,
		.btn {
			background: transparent;
			border: 1px solid #fff;
			color: #fff;
			margin-top: 2rem;
		}
		footer {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			& > * + * {
				margin-left: 1rem;
			}
		}
	}
}
